name: Deploy Strapi

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install and Build
        run: |
          npm install
          # We pass dummy values just to satisfy the build
          NODE_ENV=production ADMIN_JWT_SECRET=temp API_TOKEN_SALT=temp APP_KEYS=temp,temp JWT_SECRET=temp npm run build

      - name: Deploy files to Lightsail
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          username: ${{ secrets.LIGHTSAIL_USERNAME }}
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          source: "."
          target: "~/strapi-app"

      - name: Restart PM2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          username: ${{ secrets.LIGHTSAIL_USERNAME }}
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          envs: ADMIN_JWT_SECRET,API_TOKEN_SALT,APP_KEYS,DATABASE_URL,JWT_SECRET
          script: |
            cd ~/strapi-app
            # No npm run build here! It's already done.
            pm2 restart ecosystem.config.js --update-env || pm2 start ecosystem.config.js